<!--uses base.html-->
{% extends "base.html" %}
{% block header %}<h1>Add Player</h1>{% endblock %}
{% block content %}
<!--displays result-->
<p>{{result}}</p>
<!--user fills all spots on form with the new players data-->
<form action="/add" method="POST">
    <label for="NAME">Players Full Name: </label><br>
    <input type="text" id="NAME" name="NAME" required><br><br>
    <label for="TEAM">Players Team: </label><br>
    <select name="TEAM" id="TEAM" required><br><br>
        <option value="Atl">Atlanta Hawks</option>
        <option value="Bos">Boston Celtics</option>
        <option value="Bro">Brooklyn Nets</option>
        <option value="Cha">Charlotte Hornets</option>
        <option value="Chi">Chicago Bulls</option>
        <option value="Cle">Cleveland Cavaliers</option>
        <option value="Dal">Dallas Mavericks</option>
        <option value="Den">Denver Nuggers</option>
        <option value="Det">Detroit Pistons</option>
        <option value="Gol">Golden State Warriors</option>
        <option value="Hou">Houston Rockets</option>
        <option value="Ind">Indiana Pacers</option>
        <option value="Lac">LA Clippers</option>
        <option value="Lal">Los Angeles Lakers</option>
        <option value="Mem">Memphis Grizzlies</option>
        <option value="Mia">Miami Heat</option>
        <option value="Mil">Milwaukee Bucks</option>
        <option value="Min">Minnesota Timberwolves</option>
        <option value="Nor">New Orleans Pelicans</option>
        <option value="Nyk">New York Knicks</option>
        <option value="Okc">Oklahoma City Thunder</option>
        <option value="Orl">Orlando Magic</option>
        <option value="Phi">Philadelphia 76ers</option>
        <option value="Pho">Phoenix Suns</option>
        <option value="Por">Portland Trail Blazers</option>
        <option value="Sac">Sacramento Kings</option>
        <option value="San">San Antonio Spurs</option>
        <option value="Tor">Toronto Raptors</option>
        <option value="Uta">Utah Jazz</option>
        <option value="Was">Washington Wizards</option>
    </select><br><br>
    <label for="POS">Players Position(s): </label><br>
    <select name="POS" id="POS" required><br><br>
        <option value="C">Center</option>
        <option value="C-F">Center/Forward</option>
        <option value="F">Forward</option>
        <option value="F-G">Forward/Guard</option>
        <option value="G">Guard</option>
    </select><br><br>
    <label for="GP">Games Played: </label><br>
    <input type="text" id="GP" name="GP" required><br><br>
    <label for="MPG">Minutes Per Game: </label><br>
    <input type="text" id="MPG" name="MPG" required><br><br>
    <label for="FT">Free Throw %: </label><br>
    <input type="text" id="FT" name="FT" required><br><br>
    <label for="TWO_P">Two Point %: </label><br>
    <input type="float" id="TWO_P" name="TWO_P" required><br><br>
    <label for="THREE_P">Three Point %: </label><br>
    <input type="text" id="THREE_P" name="THREE_P" required><br><br>
    <label for="eFG">Effective Field Goal %: </label><br>
    <input type="text" id="eFG" name="eFG" required><br><br>
    <label for="PPG">Points Per Game: </label><br>
    <input type="text" id="PPG" name="PPG" required><br><br>
    <label for="RPG">Rebounds Per Game: </label><br>
    <input type="text" id="RPG" name="RPG" required><br><br>
    <label for="APG">Assists Per Game: </label><br>
    <input type="text" id="APG" name="APG" required><br><br>
    <label for="SPG">Steals Per Game: </label><br>
    <input type="text" id="SPG" name="SPG" required><br><br>
    <label for="BPG">Blocks Per Game: </label><br>
    <input type="text" id="BPG" name="BPG" required><br><br>
    <label for="TPG">Turnovers Per Game: </label><br>
    <input type="text" id="TPG" name="TPG" required><br><br>
    <input type ="submit" value="Add Player">
</form>
{% endblock %}