<!--uses base.html-->
{% extends "base.html" %}
{% block header %}<h1>NBA Player Statistics Index</h1>{% endblock %}
{% block content %}
<!--lists what each stat means as a bullet point list-->
<h2>Index:</h2>
<p>Here you will find what each stat measures, what each position is and what every team is.</p><br><br>
<h3>Stats:</h3>
<ul>
    <li>GP: Games Played</li>
    <li>MPG: Minutes Per Game</li>
    <li>FT%: Free Throw %</li>
    <li>2P%: 2 Point %</li>
    <li>3P%: 3 Point %</li>
    <li>eFG%: Effective Field Goal %</li>
    <li>PPG: Points Per Game</li>
    <li>RPG: Rebounds Per Game</li>
    <li>APG: Assists Per Game</li>
    <li>SPG: Steals Per Game</li>
    <li>BPG: Blocks Per Game</li>
    <li>TPG: Turnovers Per Game</li>
</ul><br><br>
<h3>Positions:</h3>
<ul>
    <li>G: Point Guard/Shooting Guard</li>
    <li>F: Small Forward/Power Forward</li>
    <li>C: Centre</li>
</ul><br><br>
<h3>Teams:</h3>
<ul>
    <li>Atl: Atlanta Hawks</li>
    <li>Bos: Boston Celtics</li>
    <li>Bro: Brooklyn Nets</li>
    <li>Cha: Charlotte Hornets</li>
    <li>Chi: Chicago Bulls</li>
    <li>Cle: Cleveland Cavaliers</li>
    <li>Dal: Dallas Mavericks</li>
    <li>Den: Denver Nuggets</li>
    <li>Det: Detroit Pistons</li>
    <li>Gol: Golden State Warriors</li>
    <li>Hou: Houston Rockets</li>
    <li>Ind: Indiana Pacers</li>
    <li>Lac: LA Clippers</li>
    <li>Lal: Los Angeles Lakers</li>
    <li>Mem: Memphis Grizzlies</li>
    <li>Mia: Miami Heat</li>
    <li>Mil: Milwaukee Bucks</li>
    <li>Min: Minnesota Timberwolves</li>
    <li>Nor: New Orleans Pelicans</li>
    <li>Nyk: New York Knicks</li>
    <li>Okc: Oklahoma City Thunder</li>
    <li>Orl: Orlando Magic</li>
    <li>Phi: Philadelphia 76ers</li>
    <li>Pho: Phoenix Suns</li>
    <li>Por: Portland Trail Blazers</li>
    <li>Sac: Sacramento Kings</li>
    <li>San: San Antonio Spurs</li>
    <li>Tor: Toronto Raptors</li>
    <li>Uta: Utah Jazz</li>
    <li>Was: Washington Wizards</li>
</ul>
{% endblock %}