<!--uses base.html-->
{% extends "base.html" %}
{% block header %}<h1>Sort Players By Stat</h1>{% endblock %}
{% block content %}
<!--creates a POST method form that allows the user to sort the database
by a certain stat in acending or decending order-->
<form action="/sort" method="POST">
    <label for="stat">Select a stat:</label><br>
    <select name="stat" id="stat" required>
        <option value="GP">GP</option>
        <option value="MPG">MPG</option>
        <option value="FT">FT%</option>
        <option value="TWO_P">2P%</option>
        <option value="THREE_P">3P%</option>
        <option value="eFG">eFG%</option>
        <option value="PPG">PPG</option>
        <option value="RPG">RPG</option>
        <option value="APG">APG</option>
        <option value="SPG">SPG</option>
        <option value="BPG">BPG</option>
        <option value="TPG">TPG</option>
    </select><br><br>
    <label for="order">Ascending or Decending:</label><br>
    <select name="order" id="order" required>
        <option value="ASC">Ascending</option>
        <option value="DESC">Decending</option>
    </select><br><br>
    <input type ="submit" value="Search by stat">
</form><br><br>
<!--creates a table-->
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Team</th>
                <th>Pos</th>
                <th>GP</th>
                <th>MPG</th>
                <th>FT%</th>
                <th>2P%</th>
                <th>3P%</th>
                <th>eFG%</th>
                <th>PPG</th>
                <th>RPG</th>
                <th>APG</th>
                <th>SPG</th>
                <th>BPG</th>
                <th>TPG</th>
            </tr>
        </thead>
        <tbody>
            <!--for each player in the players database that are returned this repeats
            this effectively displays everyplayer in the database-->
            {% for player in players %}
            <tr>
                <td>{{player[0]}}</td>
                <td>{{player[1]}}</td>
                <td>{{player[2]}}</td>
                <td>{{player[3]}}</td>
                <td>{{player[4]}}</td>
                <td>{{player[5]}}</td>
                <td>{{player[6]}}</td>
                <td>{{player[7]}}</td>
                <td>{{player[8]}}</td>
                <td>{{player[9]}}</td>
                <td>{{player[10]}}</td>
                <td>{{player[11]}}</td>
                <td>{{player[12]}}</td>
                <td>{{player[13]}}</td>
                <td>{{player[14]}}</td>
                <td>{{player[15]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}